<template>
  <div class="home">
    <div class="overlay"></div>
    <div id="alert">
      {{error}}
      <a class="close" @click="close">&times;</a>
    </div>
    <v-layout row wrap>
      <v-flex md12>
        <div class="about-wildtrails">
          <div class="web-name">
            <h1>Welcome Wildlife</h1>
          </div>
          <p>For Ultimate Wildlife holidays</p>
          <div class="request-btn">
            <v-btn
              @click="showForm= true"
              round
              large
              dark
              class="right white-text"
              color="cyan darken-1"
            >Request a Quote</v-btn>
          </div>
        </div>
      </v-flex>
      <div id="request-form" v-if="showForm">
        <v-form v-model="valid" ref="form">
          <v-container grid-list-md>
            <v-layout row wrap class="pb-4">
              <v-flex md4>
                <v-text-field label="Name" v-model="name" required></v-text-field>
              </v-flex>
              <v-flex md4>
                <v-text-field label="Email" v-model="emailid" required></v-text-field>
              </v-flex>
              <v-flex md4>
                <v-text-field type="number" label="Phone Number" v-model="phonenum" required></v-text-field>
              </v-flex>
            </v-layout>

            <v-layout row wrap class="pb-4">
              <v-flex xs12 md4>
                <v-text-field :rules="parkrules" label="Parkname" v-model="parkname" required></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="checkIn"
                      label="Check-In"
                      prepend-icon="event"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="checkIn" @input="menu = false"></v-date-picker>
                </v-menu>
              </v-flex>

              <v-flex xs12 sm6 md4>
                <v-menu
                  v-model="menu2"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="checkOut"
                      label="Check-Out"
                      prepend-icon="event"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="checkOut" @input="menu2 = false"></v-date-picker>
                </v-menu>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex md12>
                <div
                  style="    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;"
                >Add Rooms with Details</div>
              </v-flex>
            </v-layout>
            <v-layout row wrap v-for="(item , i) in rooms" :key="i" class="pb-4">
              <div class="added-room">
                <div class>
                  <strong>Room</strong>
                  -{{i+1}}
                </div>
                <div class>
                  <strong>Adults</strong>
                  : {{item.adults}}
                </div>
                <div class>
                  <strong>Children</strong>
                  : {{item.children}}
                </div>
                <div class>
                  <strong>Infant</strong>
                  :{{item.infants}}
                </div>
                <v-btn
                  round
                  small
                  depressed
                  dark
                  class="right white-text"
                  color="cyan darken-1"
                  @click="deleteRoom(i)"
                >Delete</v-btn>
              </div>
            </v-layout>
            <v-layout row class="pb-4">
              <v-flex xs12 md3>
                <v-text-field v-model="adults" label="No. of Adults"></v-text-field>
              </v-flex>
              <v-flex xs12 md3>
                <v-text-field v-model="children" label="No. of Children"></v-text-field>
              </v-flex>
              <v-flex xs12 md3>
                <v-text-field v-model="infants" label="No. of Infants"></v-text-field>
              </v-flex>
              <v-flex md3>
                <v-btn
                  round
                  dark
                  large
                  class="right white-text"
                  color="cyan darken-1"
                  @click="addRoom(adults,children,infants)"
                >Add</v-btn>
              </v-flex>
            </v-layout>
            <v-layout row wrap class="pb-4">
              <v-flex xs12 md4>
                <v-select v-model="resortType" :items="resort" label="Resort Type"></v-select>
              </v-flex>
              <v-flex md4>
                <v-select
                  v-model="safaricombination"
                  :items="safariCombination"
                  label="Safari Combination"
                ></v-select>
              </v-flex>
              <v-flex md4>
                <v-select v-model="gypsy" :items="gypsyType" label="Gypsy Type"></v-select>
              </v-flex>
            </v-layout>

            <v-flex md6>
              <v-alert :value="true" type="info" class="pa-2 mb-2">
                please note min 1 and max 6 can people can sit in a Gypsy and 20 people can sit in a
                canter.
              </v-alert>
            </v-flex>
            <v-flex md12 class="mt-4">
              <v-btn
                round
                large
                class="left white-text ma-0"
                dark
                color="cyan darken-1"
                @click="submit"
              >Submit</v-btn>
            </v-flex>
          </v-container>
        </v-form>
      </div>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: "home",
  data() {
    return {
      error: "",
      showForm: false,
      valid: false,
      name: "",
      emailid: "",
      phonenum: "",
      parkname: "",
      parkrules: [v => !!v || "Name is required"],
      checkIn: new Date().toISOString().substr(0, 10),
      checkOut: new Date().toISOString().substr(0, 10),
      menu: false,
      menu2: false,
      safaricombination: "Starting from checkin and until checkout",
      gypsy: "Exclusive Gypsy",
      adults: [1, 2, 3, 4],
      rooms: [],
      adults: "",
      children: "",
      infants: "",
      resortType: "Luxury",
      resort: ["Luxury", "Standard", "Budget"],
      safariCombination: [
        "Starting from checkin and until checkout",
        "Each session morning to evening"
      ],
      gypsyType: ["Exclusive Gypsy", "Shared Gypsy", "Canter"]
    };
  },
  methods: {
    addRoom(x, y, z) {
      if (x != "" && y != "" && z != "") {
        let obj = { adults: x, children: y, infants: z };
        this.rooms.push(obj);
        console.log(this.rooms);
      }
    },
    deleteRoom(i) {
      this.rooms.splice(i, 1);
    },
    close() {
      console.log("hello");
      document.getElementById("alert").style.opacity = "0";
    },
    submit() {
      if (this.$refs.form.validate() == true) {
        var obj = {
          name: this.name,
          emailid: this.emailid,
          phonenum: this.phonenum,
          parkname: this.parkname,
          checkin: this.checkIn,
          checkout: this.checkOut,
          rooms: this.rooms,
          resortType: this.resortType,
          safariCombination: this.safaricombination,
          gypsyType: this.gypsy,
          adults: 5,
          children: 2,
          uniqueid: "VGHSGJHGSHJGS",
          Title: "TESTING WEB SAFARI BOOKING"
        };
        console.log(JSON.stringify(obj));
        axios({
          method: "POST",
          url: "http://13.228.170.225:2178/requestQuoteForTrips",
          data: JSON.stringify(obj),
          headers: { "content-type": "application/json" }
        }).then(
          result => {
            this.response = result.data;
            console.log(this.response);
            if (this.response.status == "success") {
              let styles = `
        display: block;
        opacity:1;
        color: #a94442;
        background-color: lightgreen;
        border: 2px solid green;
        transition: opacity 2s;
        `;
              document.getElementById("alert").style = styles;
              this.error = " !submited successfully";
              console.log(this.response);
            }
          },
          error => {
            let styles = `
        display: block;
        opacity:1;
        color: #a94442;
        background-color: #dff0d8;
        border: 2px solid #d6e9c6;
        transition: opacity 2s;
        `;
            document.getElementById("alert").style = styles;
            this.error = " !Error";
            console.error(error);
          }
        );
      }
    }
  }
};
</script>

<style scoped>
.home {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/zoo.jpg");
  background-size: cover;

  position: relative;
}
.overlay {
  position: absolute;
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.about-wildtrails {
  display: flex;
  color: #fff;
  height: 300px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.web-name {
  z-index: 1;
}
.web-name h1 {
  font-size: 35px;
  z-index: 1;
}
.about-wildtrails p {
  font-size: 18px;
  z-index: 1;
}
.request-btn {
  z-index: 1;
}
#request-form {
  width: 100%;
  background-color: #fff;

  z-index: 2;
  margin: 50px;
  box-shadow: 0 0 25px 0 rgba(189, 129, 129, 0.2);
  border-radius: 4px;
  padding: 15px;
}
.added-room {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: #e9e6e6;
  padding: 4px 8px;
  border-radius: 4px;
  justify-items: unsafe;
}
#alert {
  position: absolute;
  right: 0;
  bottom: 10px;
  padding: 20px 10px;
  font-size: 17px;
  opacity: 0;
  color: #fff;
}
#alert .close {
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 0;
  font-size: 20px;
}
</style>