<template>
  <v-container grid-list-xs>
    <div id="login-form">
      <div id="alert">
        {{error}}
        <a class="close" @click="close">&times;</a>
      </div>
      <v-layout row wrap>
        <v-flex md7 xs3>
          <div class="cont-1">
            <div class="about">Discover Stunning New Wildlife Destinations</div>
          </div>
        </v-flex>
        <v-flex md5 xs8>
          <div class="form">
            <div class="login-input">
              <div class="redzone">WildTrails!</div>
              <div class="login-title">Login</div>
              <v-text-field type="text" name="username" v-model="username" placeholder="Username"></v-text-field>
              <v-text-field
                type="password"
                name="password"
                v-model="password"
                placeholder="Password"
              ></v-text-field>
              <br>
              <v-btn round large class="right" color="cyan darken-1" dark @click="login">Login</v-btn>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </div>
  </v-container>
</template>

<script>
import { user } from "../assets/data/user.js";

export default {
  name: "Login",
  data() {
    return {
      username: "",
      password: "",
      isUser: false,
      error: "wrong"
    };
  },
  methods: {
    close(){
      console.log("hello")
document.getElementById("alert").style.opacity = "0";
    },
    login() {
      if (this.username == "" && this.password == "") {
        let styles = `
        display: block;
        opacity:1;
        color: #a94442;
        background-color: #f2dede;
        border: 2px solid #ebccd1;
        transition: opacity 2s;
        `;
        document.getElementById("alert").style = styles;
        this.error = " !Enter username and password";
      } else {
        for (let i = 0; i < user.length; i++) {
          if (
            this.username == user[i].name &&
            this.password == user[i].password
          ) {
            this.isUser = true;
            let styles = `
                display: block;
                color: #3c763d;
                font-weight:600;
                background-color: #dff0d8;
                borderr:2px solid #d6e9c6;
                transition: opacity 2s;
                opacity:1;
        `;
            document.getElementById("alert").style = styles;
            this.error = " !invalid user name & password";
            this.$emit("authenticated", true);
            this.$router.replace({ name: "home" });
          }
        }
        if (!this.isUser) {
          let styles = `
        display: block;
        color: #a94442;
        background-color: #f2dede;
        border: 2px solid #ebccd1;
        transition: opacity 2s;
        opacity:1;
        `;
          document.getElementById("alert").style = styles;
          this.error = " !invalid user name & password";
        }
      }
    }
  }
};
</script>

<style scoped>
#login-form {
  max-width: 100%;
  height: 500px;
  background-color: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.05);
  padding: 2px;
}
.cont-1 {
  width: 100%;
  height: 496px;
  background: linear-gradient(to top, #00acc1 0%, #dfcdbc 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 50px;
}
.login-input {
  width: 100%;
}
.login-title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0px 0px 0px;
}
.redzone {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  font-style: italic;
  color: #00acc1;
}
.about {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  width: 350px;
}
#alert {
  position: absolute;
  right: 0;
  bottom: 10px;
  padding: 20px 10px;
  font-size: 17px;
  opacity: 0;
  color: #fff;
}
#alert .close {
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 0;
  font-size: 20px;
}
</style>