<template>
  <v-app>
    <v-toolbar app color="cyan darken-1" dark flat>
      <v-toolbar-title class="text-uppercase">
        <span class="font-weight-light">Wild</span>
        <span>Trails</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
     
      <v-toolbar-items>
        <v-btn flat class="white--text" dark v-if="!authenticated" router to="login">
          <v-icon flat small left>lock_open</v-icon>Login
        </v-btn>
      </v-toolbar-items>
      <v-toolbar-items>
        <v-btn
          flat
          class="white--text"
          dark
          v-if="authenticated"
          router
          to="login"
          v-on:click.native="logout()"
        >
          <v-icon flat small left>exit_to_app</v-icon>Logout
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <router-view @authenticated="setAuthenticated"/>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      authenticated: false,
    };
  },
  mounted() {
    if (!this.authenticated) {
      this.$router.replace({ name: "login" });
    }
  },
  methods: {
    setAuthenticated(status) {
      console.log(status)
      this.authenticated = status;
    },
    logout() {
      this.authenticated = false;
    }
  }
};
</script>
<style>
* {
  margin: 0;
  box-sizing: border-box;
}
#app {
  font-family: asap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.v-toolbar--fixed {

    position: static !important;
    z-index: 2 !important;

}
</style>
